// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";
@import "fonts";

// 2. Include any default variable overrides here
$black: #403F3F;
$white: #FAFAFA;

$light: $white;
$dark: $black;

$primary: red;
$secondary: #8D9C02;

$grid-gutter-width: 20px;

$font-size-base: .9rem;

$font-family-sans-serif: 'Noto Sans', sans-serif;
$headings-font-family: 'Noto Sans', sans-serif;


$modal-backdrop-opacity: .8;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/bootstrap";
 
// 5. Add additional custom code here
// $theme-gray: #0B251E;


body {
    position: relative;  
    font-family: $font-family-sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    letter-spacing: .1rem;
}

a {
    color: $primary;
    text-decoration: none;
}

/******************
GENERALES
******************/
.site-content {
    padding-top: 90px;
}

@media(min-width: 768px) {
    .site-content {
        padding-top: 90px;
    }
}

.font-primary {
    font-family:  'roc-grotesk', sans-serif;
}

.font-secondary {
    font-family: 'roc-grotesk-wide',
        sans-serif;
}

.rounded-1 {
    border-radius: .25rem !important;
}

.rounded-2 {
   
    border-radius: .5rem !important;
}
.rounded-3 {
    border-radius: 1rem !important;
}

/******************
HEADER
******************/
.site-header {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar form {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    
}

@media(min-width: 960px) {
    
}
